javaEE_projekt-client/web/WEB-INF/wsdl/localhost_8080/WebServicesSOAP/WebServicesSOAP.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="DefaultName" type="tns:DefaultName"/>

<xs:element name="DefaultNameResponse" type="tns:DefaultNameResponse"/>

<xs:element name="deleteNote" type="tns:deleteNote"/>

<xs:element name="deleteNoteResponse" type="tns:deleteNoteResponse"/>

<xs:element name="getName" type="tns:getName"/>

<xs:element name="getNameList" type="tns:getNameList"/>

<xs:element name="getNameListResponse" type="tns:getNameListResponse"/>

<xs:element name="getNameResponse" type="tns:getNameResponse"/>

<xs:element name="getNote" type="tns:getNote"/>

<xs:element name="getNoteList" type="tns:getNoteList"/>

<xs:element name="getNoteListResponse" type="tns:getNoteListResponse"/>

<xs:element name="getNoteResponse" type="tns:getNoteResponse"/>

<xs:element name="uploadNote" type="tns:uploadNote"/>

<xs:complexType name="DefaultName">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DefaultNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteNote">
<xs:sequence>
<xs:element name="filename" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteNoteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNameList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getNameListResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadNote">
<xs:sequence>
<xs:element name="filename" type="xs:string" minOccurs="0"/>
<xs:element name="bytesFile" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getName">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNoteList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getNoteListResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNote">
<xs:sequence>
<xs:element name="filename" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNoteResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>