javaEE_projekt-client/src/conf/xml-resources/web-service-references/WebServicesSOAP/wsdl/tjee.itc.wcy.wat.edu.pl_8080/WebServicesSOAP/WebServicesSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="WebServicesSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://tjee.itc.wcy.wat.edu.pl:8080/WebServicesSOAP/WebServicesSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="getNote">
<part name="parameters" element="tns:getNote"/>
</message>
<message name="getNoteResponse">
<part name="parameters" element="tns:getNoteResponse"/>
</message>
<message name="getName">
<part name="parameters" element="tns:getName"/>
</message>
<message name="getNameResponse">
<part name="parameters" element="tns:getNameResponse"/>
</message>
<message name="DefaultName">
<part name="parameters" element="tns:DefaultName"/>
</message>
<message name="DefaultNameResponse">
<part name="parameters" element="tns:DefaultNameResponse"/>
</message>
<message name="uploadNote">
<part name="parameters" element="tns:uploadNote"/>
</message>
<message name="getNoteList">
<part name="parameters" element="tns:getNoteList"/>
</message>
<message name="getNoteListResponse">
<part name="parameters" element="tns:getNoteListResponse"/>
</message>
<message name="deleteNote">
<part name="parameters" element="tns:deleteNote"/>
</message>
<message name="deleteNoteResponse">
<part name="parameters" element="tns:deleteNoteResponse"/>
</message>
<message name="getNameList">
<part name="parameters" element="tns:getNameList"/>
</message>
<message name="getNameListResponse">
<part name="parameters" element="tns:getNameListResponse"/>
</message>
<portType name="WebServicesSOAP">
<operation name="getNote">
<input wsam:Action="http://WebServices/WebServicesSOAP/getNoteRequest" message="tns:getNote"/>
<output wsam:Action="http://WebServices/WebServicesSOAP/getNoteResponse" message="tns:getNoteResponse"/>
</operation>
<operation name="getName">
<input wsam:Action="http://WebServices/WebServicesSOAP/getNameRequest" message="tns:getName"/>
<output wsam:Action="http://WebServices/WebServicesSOAP/getNameResponse" message="tns:getNameResponse"/>
</operation>
<operation name="DefaultName">
<input wsam:Action="http://WebServices/WebServicesSOAP/DefaultNameRequest" message="tns:DefaultName"/>
<output wsam:Action="http://WebServices/WebServicesSOAP/DefaultNameResponse" message="tns:DefaultNameResponse"/>
</operation>
<operation name="uploadNote">
<input wsam:Action="http://WebServices/WebServicesSOAP/uploadNote" message="tns:uploadNote"/>
</operation>
<operation name="getNoteList">
<input wsam:Action="http://WebServices/WebServicesSOAP/getNoteListRequest" message="tns:getNoteList"/>
<output wsam:Action="http://WebServices/WebServicesSOAP/getNoteListResponse" message="tns:getNoteListResponse"/>
</operation>
<operation name="deleteNote">
<input wsam:Action="http://WebServices/WebServicesSOAP/deleteNoteRequest" message="tns:deleteNote"/>
<output wsam:Action="http://WebServices/WebServicesSOAP/deleteNoteResponse" message="tns:deleteNoteResponse"/>
</operation>
<operation name="getNameList">
<input wsam:Action="http://WebServices/WebServicesSOAP/getNameListRequest" message="tns:getNameList"/>
<output wsam:Action="http://WebServices/WebServicesSOAP/getNameListResponse" message="tns:getNameListResponse"/>
</operation>
</portType>
<binding name="WebServicesSOAPPortBinding" type="tns:WebServicesSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DefaultName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="uploadNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getNoteList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNameList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServicesSOAP">
<port name="WebServicesSOAPPort" binding="tns:WebServicesSOAPPortBinding">
<soap:address location="http://tjee.itc.wcy.wat.edu.pl:8080/WebServicesSOAP/WebServicesSOAP"/>
</port>
</service>
</definitions>